.todo {
    font-family: 'Roboto', sans-serif;
}
.cabezero {
    text-align: center;
}
.box {
    display: inline-block;
    background-color: rgb(242, 242, 242);
    width: 50%;
    height: 500px;
    margin: 5px;
    text-align: center;
}
.boxpa {
    display: inline-flex;
    justify-content: center;
    width: auto;
    padding-top: 125px;
    height: 800px;
}
.macfrente {
    width: 80%;
    padding-top: 125px;
}
.img2{
    width: 100%;    
    padding-bottom: 0%;
    padding-top: 10px;
    height: min-content;
}
.img2a{
    width: 100%;    
    padding-bottom: 0%;
    padding-top: 57px;
    height: min-content;
}
.button{
    border-radius: 15px;
    background-color: rgb(0, 113, 227);
    color: rgb(242, 242, 242);
    border: none;
    width: 75px;
    height: 25px;
}
.enlaces {
    color: rgb(0, 113, 227);
    text-decoration: none;
}
.h2 {
    color: rgb(29, 29, 31);
    font-size: 55px;
}
.titulo {
    font-size: 75px;
    line-height: 10%;
}
.h4{
    font-size: 25px;
    line-height: 10px;
}
.p1 {
    font-size: 12px;
    color: rgb(29, 29, 31);
}
.p2 {
    color: rgb(236, 184, 70);
    font-size: 12px;
    padding-top: 15px;
}
.nav {
    width: 100%;
    line-height: 80px;
}
.barra {
    list-style-type: none;
    font-size: 12px;
    height: 60px;
    width: 100%;
    display: block;
    margin-bottom: 45px;
    background-color: rgb(0, 0, 0.8);
    color: seashell;
}
.barra li{
    display: inline;
    padding-left: 45px;
    padding-right: 45px;
}
.bajo {
    text-align: center;
    line-height: 10px;
    margin-bottom: 15px;
}
.negri{
    font-weight: bold;
}
.pie{
    list-style-type: none;
    font-size: 12px;
    height: 70px;
    width: 100%;
    display: block;
    margin-bottom: 90px;
    background-color: rgb(245, 245, 247);
    color: rgb(81, 81, 84);
    padding-top: 10px;

}
.barra2 li{
    display: inline;
    padding-left: 45px;
}
.pie1{
    padding-left: 85px;
}